@import "variables"
h1
	font-size: 50px
h2
	line-height: 1.4
header
	width: 100%
	padding: 16px
	text-align: center
	position: fixed
	top: 0
	left: 0
	z-index: 3
	background: $white
	& img
		width: 90px
.shadow-header
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1)
.container
	width: 100%
	max-width: 1200px
	padding: 30px
	margin: 60px auto 0px
.intro
	width: 100%
	max-width: 910px
	padding: 0px 50px
	margin: 40px auto
	display: flex
	flex-direction: column
	background: url(../img/decoration-1.png) no-repeat
	background-position: 0px 50px
	background-size: 100% auto
	& > div
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		.chamada
			width: 50%
			h1
				width: 100%
				line-height: 1
			p
				line-height: 1.4
				margin-top: 12px
		.holding-logos
			width: 284px
			height: 374px
			background: url(../img/holding-logos.png) no-repeat center center
			background-size: contain
		.map
			width: 405px
			height: 246px
			margin-left: -40px
			margin-top: 80px
			background: url(../img/map.png) no-repeat center center
			background-size: contain
		.numbers
			width: 48%
			margin-right: -40px
			h2
				margin-bottom: -15px
			label
				display: inline-block
				margin-top: 15px
			span
				color: $main-accent
.future
	background-image: linear-gradient(-90deg, #FF585A 0%, #F857A5 100%)
	text-align: center
	.title
		margin: 0px auto
		padding: 72px 0px 61px
		width: 100%
		max-width: 350px
		background: url(../img/o-watermark.png) no-repeat
		background-size: auto 140px
		background-position: center 56px
		color: #fff
		color: $white
		span
			color: $second-accent
		label
			display: inline-block
			margin-top: 10px
	.videos
		display: flex
		flex-direction: column
		margin: 0 auto
		width: 96%
		max-width: 920px
		box-shadow: 0px 4px 14px rgba(0,0,0,0.1)
		div
			display: flex
			justify-content: space-between
			background: $white
			align-items: center
			a, img
				display: block
				width: 100%
			.card
				display: flex
				flex-direction: column
				justify-content: flex-start
				text-align: left
				align-items: flex-start
				padding-left: 40px
				width: calc(100% - 40px)
				.card-title
					color: $main-accent
					text-transform: uppercase
					letter-spacing: 2px
					margin-bottom: 10px
				.card-content
					margin-top: 15px
					font-size: 18px
					span
						font-size: 34px
						font-weight: 800
						display: block
.jms
	background: #F8F8F8
	padding-bottom: 60px
	.last-year
		margin-top: 60px
		.underline
			margin-top: 30px
	.featured-video
		margin-top: 60px
		background: url(../img/decoration-2.png) no-repeat center center
		background-size: contain
		width: 100%
		max-width: 950px
		margin: 60px auto 0px
		a
			position: relative
			display: inline-block
			z-index: 2
			width: 90%
			max-width: 470px
			img
				width: 100%
		a:before
			content: ""
			display: block
			position: absolute
			top: 20px
			left: -20px
			background: $third-accent
			width: calc(100% + 40px)
			height: 100%
			z-index: -1
.pilares
	margin-top: 30px
	text-align: center
	.underline-center
		margin-top: 40px

		color: inherit
	.pilar-card
		display: inline-block
		background: $second-accent
		width: 106px
		box-shadow: 0 3px 9px 0 rgba(0,0,0,0.1)
		text-align: center
		margin: 30px 5px
		&:hover
			transform: translateY(-10px) scale(1.1)
		img
			height: 82px
			width: auto
			padding: 16px 0px
		p
			background: $white
			font-size: 12px
			padding: 16px 0px 16px 16px
			text-align: left
			text-transform: capitalize
footer
	margin-top: 70px
	display: flex
	flex-direction: column
	align-items: center
	.divider
		display: flex
		width: 100%
		div:first-child
			width: 50%
			height: 2px
			background: $main-accent
		div:last-child
			width: 50%
			height: 2px
			background: $light-gray
	.infos, .navigation
		padding: 50px 16px
		width: 100%
		max-width: 1200px
		display: flex
		justify-content: space-between
		div
			width: 50%
			text-align: right
			p
				font-size: 12px
				font-weight: 800
				color: $black
				margin-bottom: -4px
			a
				font-size: 12px
				color: $main-accent
		div:first-child
			text-align: left
			img
				width: 100px
@media (max-width: 1200px)
	section.pilares
		max-width: 990px
		margin: 30px auto 0px
		padding: 0px 10px
@media (max-width: 910px)
	.intro
		background-position: 0px 0px
		background-size: 160% auto
		padding: 0px
		div
			width: 100%
			max-width: 440px
			margin: 0 auto
		> div
			flex-direction: column
			.chamada
				width: 100%
				max-width: 440px
			.holding-logos
				width: 100%
				max-width: 440px
				background: url(../img/holding-logos-mobile.png) no-repeat center center
				background-size: contain
			.map
				order: 1
				width: 170%
				margin-left: 0px
			.numbers
				margin-top: 80px
				margin-right: 0px
				width: 100%
@media (max-width: 768px)
	.future
		margin-bottom: -50px
		.videos
			width: 90%
			max-width: 500px
			text-align: center
			div
				flex-direction: column
				width: 100%
				max-width: 500px
				margin: 0 auto
				.card
					order: 1
					align-items: center
					text-align: center
					padding: 20px
	.jms
		padding-top: 100px
		margin-bottom: 0px
@media (max-width: 440px)
	.container
		padding: 20px
	h1
		font-size: 40px
	h2
		font-size: 30px
	h3
		font-size: 24px
	.intro
		>div
			.numbers
				margin-top: 0px
				h2
					margin-bottom: 0px
	.future
		.videos
			div
				.card
					.card-content
						font-size: 16px
						span
							font-size: 28px
	.jms
		.last-year
			padding: 10px