@import "variables"

nav
	.trigger-pilar
		ul
			li
				background: $white
			li:nth-child(2)
		span
			color: $white
header
	position: fixed
	top: 0
	left: 0
	z-index: 3
	width: 100%
	text-align: center
	background: none
	padding: 16px
	a
		cursor: pointer
	& img
		width: 90px
		&:last-of-type
			display: none
header.scrolled
	background: $white
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1)
	& img
		width: 90px
		&:last-of-type
			display: inline
		&:first-of-type
			display: none
.hero-bg
	height: 80vh
	min-height: 700px
	width: 110vw
	position: absolute
	z-index: -1
	top: 0
	left: -10%
	background-image: linear-gradient(-90deg, #FF5934 0%, #9759B5 100%)
	transform-origin: 0px 0px
	transform: rotate(-8deg)
	transition: none
section
	margin-top: 70px
	margin-bottom: 70px
	&:last-of-type
		margin-bottom: -70px
.title
	text-align: center
	min-height: 320px
	margin-top: 90px
	padding-top: 50px
	background: url(../img/bg-finger-print.png) no-repeat center top
	background-size: 240px auto
	color: $white
	img
		width: 50px
	.arrow-down
		display: inline-block
		width: 20px
		height: 20px
		border: 2px solid $white
		border-top: transparent
		border-left: transparent
		transform: rotate(45deg)
		margin: 50px auto
.container
	width: 90%
	max-width: 920px
	padding: 10px
	margin: 0 auto
.narrow
	width: 100%
	max-width: 600px
	margin: 0 auto
.cover
	background: $white
	color: $black
	padding: 40px
	margin-top: -70px
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1)
	h3
		text-align: center
		max-width: 490px
		margin: 0 auto
	p
		text-align: center
		max-width: 400px
		margin: 15px auto 0px
	.underline
		margin: 40px auto
	.cover-img
		width: 100%
		margin: 0 auto
		padding-bottom: 40%
		background-size: cover
		background-position: center center
.content-50-50
	display: flex
	justify-content: space-between
	align-items: center
	& > div
		width: 48%
.slider
	height: 300px
	div
		height: 100%
	button
		position: absolute
		width: 30px
		height: 30px
		top: calc(50% - 15px)
		background: $main-accent
		border: none
		outline: none
		&:after
			position: absolute
			content: ''
			width: 10px
			height: 10px
			border: 1px solid $white
			transform: rotate(45deg)
		&.Wallop-buttonPrevious
			left: -15px
			&:after
				top: 9px
				left: 12px
				border-right: transparent
				border-top: transparent
		&.Wallop-buttonNext
			right: -15px
			&:after
				top: 9px
				right: 12px
				border-left: transparent
				border-bottom: transparent
.Wallop-item
	background-size: cover
	background-repeat: no-repeat
	background-position: center
.txt-simple
	.underline
		margin-top: 30px
.txt-list
	ul
		list-style: none
		li
			padding-left: 50px
			position: relative
			margin-top: 20px
			&:before
				position: absolute
				top: 8px
				left: 2px
				content: ''
				width: 32px
				height: 2px
				background: $main-accent
			p
				margin-bottom: 8px
				color: $medium-gray
.full-bg-flat
	background: $light-gray
	padding: 30px 0px
.partial-bg-flat
	position: relative
	&:before
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		content: ''
		width: 100%
		height: 70%
		z-index: -1
		background: $light-gray
.partial-bg-gradient
	position: relative
	color: $white !important
	&:before
		position: absolute
		top: 15%
		left: 0
		content: ''
		width: 100%
		height: 70%
		z-index: -1
		background-image: linear-gradient(-90deg, #FF585A 0%, #F857A5 100%)
.img-contain
	display: flex
	align-items: center
	img
		width: 100%
		max-width: 330px
.img-gallery
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	width: 80% !important
	padding-right: 40px
	div
		width: 32%
		height: 160px
		background-size: cover
		background-repeat: no-repeat
		background-position: center
.centered
	text-align: center
	p
		span
			color: $main-accent
			display: inline-block
	.underline
		margin: 30px auto
.images
	margin: -70px auto 70px
	display: flex
	justify-content: center
	align-items: center
	div
		margin: 0px 20px
		width: 100%
		img
			width: 100%
			box-shadow: 0px 4px 6px rgba(0,0,0,0.1)
		.no-shadow
			box-shadow: 0px 0px 0px rgba(0,0,0,0)
.comment
	.underline
		transform: rotate(90deg)
	h3
		color: $main-accent
footer
	.divider
		div:first-child
			width: 100%
			background: $main-accent
.navigation
	padding: 50px 16px
	width: 100%
	max-width: 1200px
	display: flex
	justify-content: space-between

	label
		font-size: 12px
		cursor: pointer
	div
		p
			font-size: 16px
			font-weight: bold
			text-transform: capitalize
	.prev, .next
		position: relative
		transition: all ease 0.1s
		&:after
			position: absolute
			content: ''
			width: 16px
			height: 16px
			border: 1px solid $black
			transform: rotate(45deg)
			top: 16px
		&:hover
			color: $main-accent
		&:hover:after
			border-color: $main-accent
	@keyframes pulseNext
		0%
			right: 12px
		100%
			right: 0px
	@keyframes pulsePrev
		0%
			left: 12px
		100%
			left: 0px
	.next
		text-align: right
		padding-right: 40px
		&:after
			right: 12px
			border-left: transparent
			border-bottom: transparent
		&:hover:after
			animation: pulseNext 0.4s infinite alternate
	.prev
		text-align: left
		padding-left: 40px
		&:after
			left: 12px
			border-right: transparent
			border-top: transparent
		&:hover:after
			animation: pulsePrev 0.4s infinite alternate
