doctype html
html(lang='en')
	head
		include pug-templates/basicHead
		link(rel='icon', href='favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="css/basic.css")
		link(rel="stylesheet", href="css/home.css")
		title Movile | Great Place to Work
	body
		.wrapper
			.overlay
			nav
				div.trigger
					ul
						li
						li
						li
					span MENU
				div.menu
					a(href='javascript:', class='link-selected') Inicio
					span PILARES:
					mixin liItems(pilar)
						li
							a(href=pilar+'/')= pilar
					ul
						+liItems('contratar')
						+liItems('receber')
						+liItems('inspirar')
						+liItems('falar')
						+liItems('escutar')
						+liItems('agradecer')
						+liItems('desenvolver')
						+liItems('cuidar')
						+liItems('celebrar')
						+liItems('compartilhar')
					div.gptw
						p GPTW - 2017
						a(href="http://movile.com", target='blank') www.movile.com
			header.home
				img(src="img/movile-logo.png")
			.container
				section.intro
					div
						.chamada
							h1 A Movile é líder global em mobile marketplaces
							p Fazemos isso trabalhando com pessoas completamente apaixonadas, empoderadas para construir novos negócios com potencial global e que assumem riscos para aprender tão rápido quanto crescem.
						.holding-logos
					div
						.map
						.numbers
							h2 1500 Movilian@s*
							h2
								span 15 
								| escritórios em
							h2
								span +6 
								| países
							label *Nesta pesquisa somos 300 Movilian@s = Movile Holding, Mobile Content & PlayKids.
			section.future(style='padding-top: 60px')
				//- .title
				//- 	h3 Acreditamos que a Internet do futuro é 
				//- 		span mobile
				//- 		| .
				//- 	label Tudo que fazemos é para algo maior: as pessoas.
				.videos
					div
						a.active-video(href="javascript:", data-video-path='videos/make-lives-better', data-video-format='mp4')
							img(src="videos/make-lives-better.png")
						div.card
							h4.card-title o que queremos
							.underline-accent
							p.card-content
								| Melhorar a vida de 
								span 1 bilhão de pessoas 
								| através dos nossos apps
			section.future.jms
				.videos
					div
						div.card
							//- h4.card-title o que queremos
							//- .underline-accent
							p.card-content
								| E isso só é possível através
								br
								| da nossa cultura, do nosso
								span Jeito Moviliano de Ser 
						a.active-video(href="javascript:", data-video-path='videos/jeito-moviliano', data-video-format='mp4')
							img(src="videos/jeito-moviliano.png")
				.last-year
					label Em 2016, mais uma vez, trabalhamos com um único foco:
					h3 
						span tornar a vida d@s noss@s Movilian@s melhor!
					.underline.underline-center.underline-third-accent
				.featured-video
					a.active-video(href="javascript:", data-video-path='videos/retrospectiva-2016', data-video-format='mp4')
						img(src="videos/retrospectiva-2016.png")
			section.pilares
				//- label Muito mais do que processos tradicionais, a Movile se preocupa com a experiência d@s Movilian@s!
				h3 
					span Conheça nossos pilares:
				.underline.underline-center.underline-second-accent
				mixin pilarCard(pilar)
					a(href=pilar+'/')
						.pilar-card
							img(src='img/pilares/'+pilar+'.png')
							p= pilar
				+pilarCard('contratar')
				+pilarCard('receber')
				+pilarCard('inspirar')
				+pilarCard('falar')
				+pilarCard('escutar')
				+pilarCard('agradecer')
				+pilarCard('desenvolver')
				+pilarCard('cuidar')
				+pilarCard('celebrar')
				+pilarCard('compartilhar')
			footer
				.divider
					div
					div
				.infos
					div
						img(src="img/movile-logo.png")
					div
						p GPTW - 2017
						a(href="http://movile.com", target='blank') www.movile.com
		script(src='js/umbrella.min.js')
		script(src='js/changeHeader.js')
		script(src='js/activeMenu.js')
		script(src='js/activeVideo.js')



