doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		script(src='https://use.typekit.net/vgm6kkx.js')
		script.
			try{Typekit.load({ async: true });}catch(e){}
		link(rel="stylesheet", href="css/style.css")
		title Movile | Great Place to Work
	body
		include pug-templates/pilar_card
		header
			a.menu(href="javascript:") MENU
			img(src="img/movile-logo.png")
		.container
			section.intro
				div
					.chamada
						h1 Somos uma holding global
						p A Movile é líder global em desenvolvimento de plataformas de comércio e conteúdo móvel
					.holding-logos
				div
					.map
					.numbers
						h2 1500 Movilian@s*
						h2
							span 15 
							| escritórios em
						h2
							span +6 
							| países
						label *Nesta pesquisa somos 300 Movilian@s = Movile Holding, Mobile Content & PlayKids
		section.future
			.title
				h3 Acreditamos que a Internet do futuro é 
					span mobile
					| .
				label Tudo que fazemos é para algo maior: as pessoas.
			.videos
				div
					a.active-video(href="javascript:")
						img(src="img/video.png")
					div.card
						h4.card-title o que queremos
						.underline-accent
						p.card-content
							| Melhorar a vida de 
							span 1 bilhão de pessoas 
							| através dos nossos apps
		section.future.jms
			.videos
				div
					div.card
						h4.card-title o que queremos
						.underline-accent
						p.card-content
							| E isso só é possível através
							br
							| da nossa cultura, do nosso
							span Jeito Moviliano de Ser 
					a.active-video(href="javascript:")
						img(src="img/video.png")
			.last-year
				label Em 2016, mais uma vez, trabalhamos com um único foco:
				h3 
					span tornar a vida d@s noss@s Movilian@s melhor!
				.underline.underline-center.underline-third-accent
			.featured-video
				a.active-video(href="javascript:")
					img(src="img/video.png")
		section.pilares
			label Muito mais do que processos tradicionais, a Movile se preocupa com a experiência do Movilian@s!
				h3 
					span Conheça nossos pilares:
			.underline.underline-center.underline-second-accent
			+pilarCard('contratar')
			+pilarCard('receber')
			+pilarCard('inspirar')
			+pilarCard('falar')
			+pilarCard('escutar')
			+pilarCard('agradecer')
			+pilarCard('desenvolver')
			+pilarCard('cuidar')
			+pilarCard('celebrar')
			+pilarCard('compartilhar')
		footer
			.divider
				div
				div
			.infos
				div
				div
					p GPTW - 2017
					a(href="http://movile.com") www.movile.com




