doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		script(src="https://use.typekit.net/vgm6kkx.js")
		script(try{Typekit.load({ async: true });}catch(e){})
		link(rel="stylesheet", href="css/style.css")
		title Movile | Great Place to Work
	body
		header
			a.menu(href="javascript:") MENU
			img(src="img/movile-logo.png")
		.container
			section.intro
				h1 Somos uma holding global