doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Escutar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link-selected')
						+liItem('agradecer','link')
						+liItem('desenvolver','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/escutar.png")
				h1 Escutar
				.arrow-down
			.container.cover
				h3 Grupos focais especiais
				p 2016 foi o ano de atuação do grupo RESPECT para escutar Movilian@s em questões relacionadas à diversidade
				.underline.underline-accent
				img(src='img/respect.jpg')
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Nossas Movilianas promoveram uma roda de discussão sobre empoderamento feminino, assédio, abuso e discriminação.
					.slider
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/engagement1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/engagement2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/engagement3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Engagement Survey
						ul
							li
								p Em 2016 a Movile realizou a primeira pesquisa de engajamento - mais um canal formal para que Movilian@s compartilhassem suas percepções e opiniões à respeito da empresa e da liderança.
							li
								p E ainda compartilhamos os resultados com tod@s Movilian@s!
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Pesquisa sobre Diversidade
						ul
							li
								p Embaixadores do RESPECT disponibilizaram no Movile@Facebook um formulário anônimo com perguntas para escutar Movilian@s no que diz respeito à diversidade em nosso ambiente de trabalho.
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/pesquisa-diversidade', data-video-format='mp4')
							img.shadow(src="videos/pesquisa-diversidade.png")
			section
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/pesquisa-interna1.png)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(img/pesquisa-interna2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/pesquisa-interna3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/pesquisa-interna4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/pesquisa-interna5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Pesquisas internas
						ul
							li
								p Formulários online como mais um canal para escutar Movilian@s sobre vários elementos do nosso dia a dia.
			section.full-bg-gradient
				.centered.container
						h2 Let’s Talk – PlayKids
						p Encontro mensal, conduzido pelo CEO da PlayKids, que envolve todas as pessoas do time.
						p Espaço de transparência e troca de informações relevantes para a condução do negócio.
				.container.images(style='margin-top:30px')
					div
						img(src='../falar/img/letstalk1.png', style='max-width: 420px')
			section
				.container.content-50-50
					.txt-list
						h2 Let’s Talk - Kick Off New Fiscal Year!
						ul
							li
								p História da PlayKids, compartilhamento de novas metas, celebração de resultados, desafios e conquistas em uma tarde cheia de energia!
					.slider
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk8.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/management1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/management2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/management3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/management4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/management5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Management Feedback Survey
						ul
							li
								p Colaborador@s da PlayKids puderam avaliar melhor e mais detalhadamente sua liderança.
			section
				.container.content-50-50
					.txt-list
						h2 Código de ética e conduta empresarial!
						ul
							li
								p Revisamos nosso Código de ética e conduta empresarial e disponiblizamos no Guide Institucional.
							li
								p E, ainda, anexamos o Código de ética e conduta empresarial do nosso principal investidor, o grupo Naspers.
							li
								p Todo o material foi disponibilizado em 3 idiomas: português, inglês e espanhol!
					.slider
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/codigo1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/codigo2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/codigo3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/codigo4.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered.full-bg-flat
				.container
					h2 Liga da Diversão
					p.narrow Em 2016 criamos a Liga da Diversão, com Movilian@s de diversas áreas para ajudarem a pensar, planejar e montar nossas celebrações! 
					.underline.underline-accent
				.container.photo-wall(style='margin-top:0px')
					div
						img(src='img/liga1.jpg')
					div.multi-photos
						img(src='img/liga2.jpg')
						img(src='img/liga3.jpg')
			section
				.container.content-50-50
					.txt-list
						h2 1:1
						ul
							li
								p A prática do 1:1 tem como principal objetivo aproximar gestores de liderados, criando um fórum específico para se falar de desenvolvimento e de todos os aspectos que envolvem a vida d@s Movilian@s.
					.slider
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/1-11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/1-12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/1-13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/1-14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/1-15.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/1-16.png)')
								.Wallop-item.bg-contain
									a(href='img/1-17.pdf', target='blank')
										img(src='img/1-17.png')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-gradient
				.centered.container
						h2 Product Hero
						p Em 2016, tivemos novas edições do projeto, que incentiva Movilian@s a darem feedbacks sobre nossos produtos.
						.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/ph1.jpg')
					div
						img(src='img/ph4.png')
				.container.images
					div
						img(src='img/ph2.jpg')
					div
						img(src='img/ph3.jpg')
			section.partial-bg-flat
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook1.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook2.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook3.png)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(../falar/img/movile-facebook4.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook7.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook8.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/movile-facebook9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Movile@Facebook
						ul
							li
								p Nosso pioneiro canal de comunicação interna completou 1 ano!
							li
								p Mais de 1.300 usuários e 164 grupos criados com diversos temas.
			section
				.container.content-50-50
					.txt-list
						h2 Canais Ask
						ul
							li
								p Grupos do Movile@Facebook para os Diretores e times responderem a perguntas diretas de Movilian@s.
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/ask1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/ask2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/ask3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/ask4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/ask5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo1.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo2.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/papo10.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Papo 10b!
						ul
							li
								p Bate-papo d@s Movilian@s com nosso CEO seguiu firme e forte em 2016 com novas edições!
			section
				.centered.container
						h2 RMR e RMA
						p.narrow Nossas reuniões mensais garantem transparência e deixam tod@s @s Movilian@s informad@s sobre os resultados gerais da Movile, das empresas investidas e das unidades de negócio.
						.underline.underline-accent
			section
				.container.images
					div
						img(src='../falar/img/rma1.jpg')
					div
						img(src='../falar/img/rma2.jpg')
			section.full-bg-flat
				.centered.container
						h2 Naspers Openline
						p.narrow Um dos principais investidores da Movile, o grupo Naspers, disponibiliza o canal de denúncias a todas as empresas que tem participação acionária .
						.underline.underline-accent
				.container.images(style='margin-top:0px')
						img(src='img/naspers1.png')
			include ../pug-templates/pilarFooter
			+footerLinks('falar','agradecer')
		include ../pug-templates/pilarJS

