doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Escutar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link-selected')
						+liItem('agradecer','link')
						+liItem('desenvovler','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/escutar.png")
				h1 Escutar
				.arrow-down
			.container.cover
				h3 Grupos focais especiais
				p 2016 foi o ano de atuação do grupo RESPECT para escutar Movilianos e Movilianas em questões relacionadas à diversidade
				.underline.underline-accent
				img(src='img/respect.jpg')
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Nossas Movilianas promoveram uma roda de discussão sobre empoderamento feminino, assédio, abuso e discriminação.
					.slider
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/engagement1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/engagement2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/engagement3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Engagement Survey
						ul
							li
								p Em 2016 a Movile realizou a primeira pesquisa de engajamento - mais um canal formal para que Movilian@s compartilhassem suas percepções e opiniões à respeito da empresa e da liderança.
							li
								p E ainda compartilhamos os resultados com tod@s Movilian@s!
				






			include ../pug-templates/pilarFooter
			+footerLinks('inspirar','escutar')
		include ../pug-templates/pilarJS

