doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Agradecer')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link')
						+liItem('agradecer','link-selected')
						+liItem('desenvolver','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/agradecer.png")
				h1 Agradecer
				.arrow-down
			.container.cover
				h3 Carinho especial
				p Movilianas que participaram da construção da história da Movile e seguiram outros rumos em 2016, receberam carinho especial!
				.underline.underline-accent
				.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/carinho1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/carinho2.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Let's Play + To Infitiniy & Beyond
						ul
							li
								p Projetos especiais para o time da PlayKids
							li
								p Motivação, propósito e reconhecimento no incrível universo de quem constrói a plataforma número 1 para crianças!
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/infinity1.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/infinity2.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/infinity3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.txt-list
						h2 Peer Recognition
						ul
							li
								p Uma maneira simples e acessível para praticarmos a meritocracia e o reconhecimento uns com os outros!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer7.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer8.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer9.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer10.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer11.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer12.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer13.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer14.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer15.png)')
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer16', data-video-format='mov')
										img.shadow(src="../inspirar/videos/peer16.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer17', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/peer17.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer18', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/peer18.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms2.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms4.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms7.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms8.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms8.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms10.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms11.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms12.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms13.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms14.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms15.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms16.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/game-jms1.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Game JMS
						ul
							li
								p Maior autonomia e transparência para tod@s @s Movilian@s!
							li
								p Uma nova versão do nosso Jeito Moviliano de Ser!
									br
									| O mundo é mobile!
			section
				.container.content-50-50
					.txt-list
						h2 Aniversário de Movile
						ul
							li
								p Pela primeira vez na Movile, fizemos uma ação para celebrar o tempo de casa de Movilian@s!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario9.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/aniversario10.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered.full-bg-flat
				.container
					h2 Batimento de meta PlayKids
					p.narrow Como forma de celebração e agradecimento ao grande esforço e dedicação de tod@s, o CEO da PlayKids, Flavio Stecca, escreveu um post emocionante no Movile@Facebook
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/batimento1.png')
				.container.images(style='margin-top: 0px')
					div
						img(src='img/batimento2.png')
			section.centered
				.container
					h2 Caso especial: Breno Masi e família 
					p.narrow Como forma de agradecimento e reconhecimento pelo engajamento e esforço extra, a PlayKids presenteou Breno e sua família com um final de semana em um resort
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/caso-breno.png')
			section.full-bg-gradient
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/caso-leticia1.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/caso-leticia2.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/caso-leticia3.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/caso-leticia4.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/caso-leticia5.jpeg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Caso especial: licença maternidade Letícia Faria
						ul
							li
								p O time cria uma experiência mágica para agradecer pela inspiração e liderança de Letícia, além de dedicar todo afeto nesse momento tão único para a nova mãe
				.container.images(style='margin-top: 30px')
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/caso-leticia6', data-video-format='mp4')
							img.shadow(src="videos/caso-leticia6.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/caso-leticia7', data-video-format='mp4')
							img.shadow(src="videos/caso-leticia7.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/caso-leticia8', data-video-format='mp4')
							img.shadow(src="videos/caso-leticia8.png")
			section.centered
				.container
					h2 Ação de Natal PlayKids 
					p Na semana anterior ao Natal, cada Movilian@ da PlayKids recebeu um presente especial: um desenho especial feito por uma criança, uma foto dela com uma placa de agradecimento e um cartão com uma mensagem de Natal personalizada feita por cada mini-cliente!
				.container
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/acao-natal', data-video-format='mp4')
										img.shadow(src="videos/acao-natal.png")
								.Wallop-item.bg-contain(style='background-image:url(img/acao-natal1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/acao-natal2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/acao-natal3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/acao-natal4.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Colecionando sorrisos!
						ul
							li
								p O time de Customer Happiness compartilha sorrisos e feedbacks carinhosos dos clientes da PlayKids no Movile@Facebook, como forma de agradecer e inspirar cada um d@s Movilian@s que atuam na construção da plataforma
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/colecionando7.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered
				.container
					h2 Mulheres Movilianas
					p.narrow Todos foram convidados a votar nas Movilianas que mais os inspiram em cada valor da Movile, que receberam homenagens e presentes.
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/mulheres1.png')
					div
						img(src='img/mulheres2.png')
			section.partial-bg-gradient
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/desafio2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/desafio3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/desafio4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/desafio1.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Desafio Chat Club
						ul
							li
								p O time de Mobile Content lançou um desafio a tod@s Movilian@s, para que desenvolvessem uma funcionalidade inovadora para a plataforma.
							li
								p Como forma de reconhecer e agradecer aos participantes, foram oferecidos prêmios em dinheiro e vale-jantar!
			section
				.container.content-50-50
					.txt-list
						h2 Movile Tours
						ul
							li
								p Os ganhadores do prêmio em 2015 rodaram o mundo e conquistaram sonhos!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/movile-tours1.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/movile-tours1', data-video-format='mov')
										img.shadow(src="videos/movile-tours1.png")
								.Wallop-item.bg-contain(style='background-image:url(img/movile-tours2.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/movile-tours2', data-video-format='mp4')
										img.shadow(src="videos/movile-tours2.png")
								.Wallop-item.bg-contain(style='background-image:url(img/movile-tours3.png)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/movile-tours3', data-video-format='mp4')
										img.shadow(src="videos/movile-tours3.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered
				.container
					h2 Movile Tours Especial
					p.narrow Marcelo Gobbi, Gerente Novos Negócios de Mobile Content, financiou uma viagem ao Rio Quente Resorts ao seu então estagiário Rai Prado pelo comprometimento com a entrega de resultados, destaque na sua equipe.
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
						img(src='img/movile-tours-especial.png')
			section.centered.full-bg-flat
				.container
					h2 Presentes
					p Camisetas e squeezes cobiçados para quem se engaja nas nossas ações do dia a dia
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/presentes1.jpg')
					div
						img(src='img/presentes2.jpg')
			section
				.container.content-50-50
					.txt-list
						h2 Stock Options
						ul
							li
								p Movilian@s que mais se destacaram em resultados e aderência a valores recebem stocks.
							li
								p Em 2016, premiamos 44 Movilian@s com stock options!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-gradient
				.centered.container
						h2 Giftwork
						p.narrow 20 líderes Movilian@s participaram da jornada Giftwork, ministrada pelo time do Great Place to Work, e acompanhada pelo time de Gente.
						p.narrow Esse foi um marco do desenvolvimento da liderança da Movile, na busca incessante pela construção de uma empresa cada vez mais incrível, levando reconhecimento e inspiração a cada Movilian@, dia após dia
						.underline.underline-accent
				.container.images(style='margin-top:0px')
					div
						img(src='../inspirar/img/giftwork1.jpg')
					div
						img(src='../inspirar/img/giftwork2.jpg')
				.container.images
					div
						img(src='../inspirar/img/giftwork3.jpg')
					div
						img(src='../inspirar/img/giftwork4.jpg')









			include ../pug-templates/pilarFooter
			+footerLinks('escutar','desenvolver')
		include ../pug-templates/pilarJS

