doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Celebrar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link')
						+liItem('agradecer','link')
						+liItem('desenvolver','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link-selected')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/celebrar.png")
				h1 Celebrar
				.arrow-down
			.container.cover
				h3 Efetivações Mobile Dream
				p A efetivação dos estagiários da primeira edição do Mobile Dream foi mais uma experiência incrível a estes jovens talentos. E criatividade não faltou!
				.underline.underline-accent
				.container.cover-contain
					.slider
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/efetivacao1', data-video-format='mp4')
										img.shadow(src="videos/efetivacao1.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/efetivacao2', data-video-format='mp4')
										img.shadow(src="videos/efetivacao2.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/efetivacao3', data-video-format='mp4')
										img.shadow(src="videos/efetivacao3.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.centered.container
						h2 Olímpiadas Movile
						p Posts temáticos transbordando inspiração com transmissão dos principais jogos.
						p 
							span #determinação #foco #garra #persistência #trabalho em equipe.
						.underline.underline-accent
			section
				.container.images
					div
						img(src='../inspirar/img/olimpiadas1.jpg')
					div
						img(src='../inspirar/img/olimpiadas4.png')
			section
				.container.images
					div
						img(src='../inspirar/img/olimpiadas3.png')
					div
						img(src='../inspirar/img/olimpiadas2.png')
				.centered.container
						p Sessão Lado B: noss@s atletas Movilian@s revelaram suas histórias!
						.underline.underline-accent
			section
				.container.images
					.img-full
						a.active-video(href="javascript:", data-video-path='../inspirar/videos/olimpiadas5', data-video-format='mp4')
							img.shadow(src="../inspirar/videos/olimpiadas5.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='../inspirar/videos/olimpiadas6', data-video-format='mp4')
							img.shadow(src="../inspirar/videos/olimpiadas6.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='../inspirar/videos/olimpiadas7', data-video-format='mp4')
							img.shadow(src="../inspirar/videos/olimpiadas7.png")
			section.full-bg-gradient
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item(style='background-image:url(img/espacos1.jpg)')
								.Wallop-item(style='background-image:url(img/espacos2.jpg)')
								.Wallop-item(style='background-image:url(img/espacos3.jpg)')
								.Wallop-item(style='background-image:url(img/espacos4.jpg)')
								.Wallop-item(style='background-image:url(img/espacos5.jpg)')
								.Wallop-item(style='background-image:url(img/espacos6.jpg)')
								.Wallop-item(style='background-image:url(img/espacos7.jpg)')
								.Wallop-item(style='background-image:url(img/espacos8.jpg)')
								.Wallop-item(style='background-image:url(img/espacos9.jpg)')
								.Wallop-item(style='background-image:url(img/espacos10.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Espaços internos de celebração
						ul
							li
								p Copas maiores, mesas grandes para tod@s sentarem juntos, TV para videogame, mesa de sinuca e tênis de mesa, arcade, teatros em Campinas e São Paulo, espaços abertos com pufes, poltronas, palco, telão, violão e aparelho de karaokê.
							li
								p Movilian@s ficam à vontade para aproveitar a espaço, organizar happy hours e celebrações internas.
			section
				.container.content-50-50
					.txt-list
						h2 Aniversário de Movile
						ul
							li
								p Pela primeira vez na Movile, fizemos uma ação para celebrar o tempo de casa de Movilian@s!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario4.png)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario9.png)')
								.Wallop-item.bg-contain(style='background-image:url(../agradecer/img/aniversario10.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered.full-bg-flat
				.container
					h2 Liga da Diversão
					p.narrow Em 2016 criamos a Liga da Diversão, com Movilian@s de diversas áreas para ajudarem a pensar, planejar e montar nossas celebrações! 
					.underline.underline-accent
				.container.photo-wall(style='margin-top:0px')
					div
						img(src='../escutar/img/liga1.jpg')
					div.multi-photos
						img(src='../escutar/img/liga2.jpg')
						img(src='../escutar/img/liga3.jpg')
			section
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item(style='background-image:url(img/hh1.jpg)')
								.Wallop-item(style='background-image:url(img/hh2.jpg)')
								.Wallop-item(style='background-image:url(img/hh3.jpg)')
								.Wallop-item(style='background-image:url(img/hh4.jpg)')
								.Wallop-item(style='background-image:url(img/hh5.jpg)')
								.Wallop-item(style='background-image:url(img/hh6.jpg)')
								.Wallop-item(style='background-image:url(img/hh7.jpg)')
								.Wallop-item(style='background-image:url(img/hh8.jpg)')
								.Wallop-item(style='background-image:url(img/hh9.jpg)')
								.Wallop-item(style='background-image:url(img/hh10.jpg)')
								.Wallop-item(style='background-image:url(img/hh11.jpg)')
								.Wallop-item(style='background-image:url(img/hh12.jpg)')
								.Wallop-item(style='background-image:url(img/hh13.jpg)')
								.Wallop-item(style='background-image:url(img/hh14.jpg)')
								.Wallop-item(style='background-image:url(img/hh15.jpg)')
								.Wallop-item(style='background-image:url(img/hh16.jpg)')
								.Wallop-item(style='background-image:url(img/hh17.jpg)')
								.Wallop-item(style='background-image:url(img/hh18.jpg)')
								.Wallop-item(style='background-image:url(img/hh19.jpg)')
								.Wallop-item(style='background-image:url(img/hh20.jpg)')
								.Wallop-item(style='background-image:url(img/hh21.jpg)')
								.Wallop-item(style='background-image:url(img/hh22.jpg)')
								.Wallop-item(style='background-image:url(img/hh23.jpg)')
								.Wallop-item(style='background-image:url(img/hh24.jpg)')
								.Wallop-item(style='background-image:url(img/hh25.jpg)')
								.Wallop-item(style='background-image:url(img/hh26.jpg)')
								.Wallop-item(style='background-image:url(img/hh27.jpg)')
								.Wallop-item(style='background-image:url(img/hh28.jpg)')
								.Wallop-item(style='background-image:url(img/hh29.jpg)')
								.Wallop-item(style='background-image:url(img/hh30.jpg)')
								.Wallop-item(style='background-image:url(img/hh31.jpg)')
								.Wallop-item(style='background-image:url(img/hh32.jpg)')
								.Wallop-item(style='background-image:url(img/hh33.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Happy Hour
						ul
							li
								p O happy hour na Movile é mensal, totalmente gratuito e aberto a tod@s Movilian@s!
							li
								p Sempre são oferecidas opções vegetarianas e veganas
							li
								p No mês de outubro, 127 Movilianos e Movilianas  marcam presença no happy hour promovido em Campinas!
			section.full-bg-gradient
				.centered.container
						h2 Happy hour dos expatriados
						p No México, Movilian@s expatriados organizaram um happy hour para compartilharem experiências, conversarem sobre as diferenças culturais, a relação com as famílias, e, claro, celebrarem o trabalho em equipe!
						.underline.underline-white
				.container.images(style='margin-top:0px')
					div
						img(src='img/hh-expatriados.png')
			section
				.container.content-50-50
					.txt-list
						h2 Carnaval
						ul
							li
								p Abadás personalizados da “Folia Magenta”, Movilian@s fantasiados, DJs, buffet, bebida, além de muito confete e serpentina.
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/carnaval1.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval2.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval3.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval4.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval5.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval6.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval7.jpg)')
								.Wallop-item(style='background-image:url(img/carnaval8.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday7.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/raspadinha', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/raspadinha.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Dia Internacional da Mulher
						ul
							li
								p Todos foram convidados a votar nas Movilianas que mais os inspiram em cada valor da Movile.
							li
								p Homenagens e presentes para as Movilianas!
							li
								p Vídeo com a blogueira Camila Achutti sobre mulheres na computaçãos!
			section
				.container.content-50-50
					.txt-list
						h2 Páscoa
						ul
							li
								p Aproveitamos a data para passar uma mensagem de incentivo a Movilian@s, que ainda ganharam ovos trufados.
							li
								p Além de adoçar a Páscoa de Movilian@s, estendemos a 450 crianças da instituição LBV, com a doação de caixas de bombons.
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item(style='background-image:url(img/pascoa1.jpg)')
								.Wallop-item(style='background-image:url(img/pascoa2.jpg)')
								.Wallop-item(style='background-image:url(img/pascoa3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_das_maes1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_das_maes2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_das_maes3.png)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../cuidar/videos/d-dia_das_maes4', data-video-format='mov')
										img.shadow(src="../cuidar/videos/d-dia_das_maes4.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../cuidar/videos/d-dia_das_maes5', data-video-format='mov')
										img.shadow(src="../cuidar/videos/d-dia_das_maes5.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../cuidar/videos/d-dia_das_maes6', data-video-format='mov')
										img.shadow(src="../cuidar/videos/d-dia_das_maes6.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../cuidar/videos/d-dia_das_maes7', data-video-format='mov')
										img.shadow(src="../cuidar/videos/d-dia_das_maes7.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Dia das Mães
						ul
							li
								p Vídeo com filh@s no Movile@Facebook e um presente para carregar seu amor por aí: uma bolsa térmica com a foto da Moviliana com filh@s.
			section.centered
				h2 Dia dos namorados
				p.narrow Movilian@s apaixonados puderam contar com parceiras e descontos em 6 hotéis renomados de São Paulo e Campinas, para jantar e hospedagem
				.underline.underline-accent
				.container.images(style='margin-top:0px')
					img(src='img/namorados.png')
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/arraia1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/arraia7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Arraiá 10b
						ul
							li
								p Reunimos Movilian@s no escritório de São Paulo para a festança com tod@s a caráter, cachorro quente, canjica, vinho quente e muito mais!
			section
				.container.content-50-50
					.txt-list
						h2 Dia dos Pais
						ul
							li
								p Desenvolvemos um diário entre pai e filh@ para nossos Movilianos construírem memórias com seus pequenos e distribuímos cartões para tod@s @s Movilian@s homenagearem seus pais!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais2.png)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais4.png)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-dia_dos_pais6.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt6.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Dia da Diversidade LGBT
						ul
							li
								p Um bate-papo descontraído com o jornalista e apresentador Marcelo Tas.
			section
				.container.content-50-50
					.txt-list
						h2 Kid's Day
						ul
							li
								p O Dia das Crianças da Movile, voltou para dentro dos nossos escritórios, com mais 40 crianças, entre elas filhos, sobrinhos e afilhados de 25 Movilian@s.
							li
								p Para deixar o dia mais gostoso, decoramos todos os escritórios com muitas bexigas, promovemos brincadeiras e oferecemos guloseimas.
					.slider
						.Wallop.Wallop--slide.Wallop--12
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day10.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day11.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day12.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day13.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kids-day14.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--13
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-outubro_magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-outubro_magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/d-outubro_magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
			section
				.container.content-50-50
					.txt-list
						h2 Halloween
						ul
							li
								p Além de balas e decoração temática, disponibilizamos uma maquiadora no escritório para todos entrarem no clima aterrorizante! As melhores fantasias ainda levaram um vale-jantar!
					.slider
						.Wallop.Wallop--slide.Wallop--14
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/halloween1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/halloween9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--15
							.Wallop-list
								.Wallop-item(style='background-image:url(../cuidar/img/d-novembro_azul1.jpg)')
								.Wallop-item(style='background-image:url(../cuidar/img/d-novembro_azul2.jpg)')
								.Wallop-item(style='background-image:url(../cuidar/img/d-novembro_azul3.jpg)')
								.Wallop-item(style='background-image:url(../cuidar/img/d-novembro_azul1.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
			section
				.container.content-50-50
					.txt-list
						h2 Concurso de decoração de Natal
						ul
							li
								p Quem aderiu a brincadeira, compartilhou uma foto da mesa decorada para concorrer a um panettone de chocolate belga!
							li
								p Os escritórios também foram decorados para entrar no clima e no espírito natalino.
							li
								p Disponibilizamos um varal de tags para Movilian@s pegarem à vontade e escreverem mensagens de agradecimento.
					.slider
						.Wallop.Wallop--slide.Wallop--16
							.Wallop-list
								.Wallop-item(style='background-image:url(img/natal1.jpg)')
								.Wallop-item(style='background-image:url(img/natal2.png)')
								.Wallop-item(style='background-image:url(img/natal3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/natal4.jpeg)')
								.Wallop-item(style='background-image:url(img/natal5.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer16', data-video-format='mov')
										img.shadow(src="../inspirar/videos/peer16.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--17
							.Wallop-list
								.Wallop-item(style='background-image:url(img/fim-de-ano1.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano2.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano3.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano4.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano5.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano6.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano7.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano8.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano9.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano10.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano11.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano12.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano13.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano14.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano15.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano16.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano17.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano18.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano19.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano20.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano21.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano22.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano23.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano24.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano25.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano26.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano27.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano28.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano29.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano30.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano31.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano32.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano33.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano34.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano35.jpg)')
								.Wallop-item(style='background-image:url(img/fim-de-ano36.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
			section.centered
				.container
					h2 Sessões especiais de cinema
					p.narrow Movilian@s criaram o grupo “Cineminha” no Movile@Facebook e toda semana escolhiam filmes para votação. Recriamos o “Você Decide” na versão Moviliana!
					.underline.underline-accent
				.container.images(style='margin-top:0px')
					div
						img(src="img/sessao1.jpg")
					div
						img(src="img/sessao2.png")
			section.full-bg-gradient
				.container.content-50-50
					.txt-list
						h2 Happy Day!
						ul
							li
								p Bexigas para celebrar o aniversário de cada Movilian@, presente especial e day off no mês do aniversário para fazer o que quiser!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--18
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/happy-day1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/happy-day2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../cuidar/img/happy-day3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.txt-list
						h2 Inclusão em projetos sociais
						ul
							li
								p Além da doação de chocolates na Páscoa, em 2016 fizemos o primeiro Natal Solidário, levamos kits da PlayKids, com livrinhos e vouchers gratuitos para as crianças, e um kit com fone de ouvido e viseiras para os adolescentes.
							li
								p Um grupo composto por 6 Movilian@s passaram uma manhã transformadora no local, dando muito carinho e atenção.
					.slider
						.Wallop.Wallop--slide.Wallop--19
							.Wallop-list
								.Wallop-item(style='background-image:url(img/projetos1.jpg)')
								.Wallop-item(style='background-image:url(img/projetos2.jpg)')
								.Wallop-item(style='background-image:url(img/projetos3.jpg)')
								.Wallop-item(style='background-image:url(img/projetos4.jpg)')
								.Wallop-item(style='background-image:url(img/projetos5.jpg)')
								.Wallop-item(style='background-image:url(img/projetos6.jpg)')
								.Wallop-item(style='background-image:url(img/projetos7.jpg)')
								.Wallop-item(style='background-image:url(img/projetos8.jpg)')
								.Wallop-item(style='background-image:url(img/projetos9.jpg)')
								.Wallop-item(style='background-image:url(img/projetos10.jpg)')
								.Wallop-item(style='background-image:url(img/projetos11.jpg)')
								.Wallop-item(style='background-image:url(img/projetos12.jpg)')
								.Wallop-item(style='background-image:url(img/projetos13.jpg)')
								.Wallop-item(style='background-image:url(img/projetos14.jpg)')
								.Wallop-item(style='background-image:url(img/projetos15.jpg)')
								.Wallop-item(style='background-image:url(img/projetos16.jpg)')
								.Wallop-item(style='background-image:url(img/projetos17.jpg)')
								.Wallop-item(style='background-image:url(img/projetos18.jpg)')
								.Wallop-item(style='background-image:url(img/projetos19.jpeg)')
								.Wallop-item(style='background-image:url(img/projetos20.jpeg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--20
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar4.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/familiar7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Interação familiar
						ul
							li
								p Filhas, filhos, esposos, esposas, pais, fazem parte de nossas celebrações.
							li
								p Um jeito de garantir maior envolvimento e transparência aos entes queridos d@s noss@s Movilian@s.
			section.centered
				.container
					h2 Rose
					p.narrow 100% do tempo conectada em tempo real com os escritórios da Movile pelo mundo, Rosie aproxima e integra Movilian@s, independente da distância.
					.underline.underline-accent
				.container.images(style='margin-top:0px')
					div
						img(src="img/rose.jpg")
			section.partial-bg-gradient
				.container.content-50-50
					.txt-list
						h2 Mobile Content - We got the power
						ul
							li
								p Uma identidade visual própria, pulseiras com valores essenciais e grandes encontros para celebrar o orgulho de pertencer da principal unidade de negócio da Movile!
					.slider
						.Wallop.Wallop--slide.Wallop--21
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc9.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--22
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk8.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Let’s Talk - Kick Off New Fiscal Year!
						ul
							li
								p História da PlayKids, compartilhamento de novas metas, celebração de resultados, desafios e conquistas em uma tarde cheia de energia!
			section.centered
				.container
					h2 Batimento de meta PlayKids
					p.narrow Como forma de celebração e agradecimento ao grande esforço e dedicação de tod@s, o CEO da PlayKids, Flavio Stecca, escreveu um post emocionante no Movile@Facebook
					.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='../agradecer/img/batimento1.png')
				.container.images(style='margin-top: 0px')
					div
						img(src='../agradecer/img/batimento2.png')
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Let's Get Together
						ul
							li
								p Um formato particular de celebração e compartilhamento.
							li
								p Em abril aconteceu o People Together, que reuniu todo o time de Gente da Movile e das empresas investidas, em um dia para discutir propósito e estratégia da área, compartilhar histórias e fortalecer o trabalho em equipe.
							li
								p Em dezembro, aproveitamos a presença de Movilian@s de todas as cidades e fizemos um Let’s Get Together durante a inauguração do novo andar do escritório de Campinas.
					.slider
						.Wallop.Wallop--slide.Wallop--23
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/lets1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/lets2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/lets3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/lets4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/lets5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					

					
					

			



			include ../pug-templates/pilarFooter
			+footerLinks('cuidar','compartilhar')
		include ../pug-templates/pilarJS

