doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Contratar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link-selected')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link')
						+liItem('agradecer','link')
						+liItem('desenvovler','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/contratar.png")
				h1 Receber
				.arrow-down
			.container.cover
				h3 Welcome - Programa de Onboarding
				p Desde o ok na proposta, noss@s candidat@s já são parte do time e tratados com todo carinho!
				.underline.underline-accent
				img(src='img/programa-integracao.png')
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Movile Journey
						ul
							li
								p Welcome e-mail, Welcome bag, Welcome SMS, Welcome kit, Welcome baloon, Welcome you, Welcome to Movile, Welcome Talk
					.slider
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/welcome1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/welcome8.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.centered.container
						h2 VIP KIt
						p Nosso kit de boas vindas para posições executivas e estratégicas!
						p
							span Descomplicado e informal
						.underline.underline-accent
			section
				.container.images
					div
						img(src='img/vip-kit.jpg')
					div
						img(src='img/vip-kit2.jpg')
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item(style='background-image:url(img/gd1.jpg)')
								.Wallop-item(style='background-image:url(img/gd2.jpg)')
								.Wallop-item(style='background-image:url(img/gd3.jpg)')
								.Wallop-item(style='background-image:url(img/gd4.jpg)')
								.Wallop-item(style='background-image:url(img/gd5.jpg)')
								.Wallop-item(style='background-image:url(img/gd6.jpg)')
								.Wallop-item(style='background-image:url(img/gd7.jpg)')
								.Wallop-item(style='background-image:url(img/gd8.jpg)')
								.Wallop-item(style='background-image:url(img/gd9.jpg)')
								.Wallop-item(style='background-image:url(img/gd10.jpg)')
								.Wallop-item(style='background-image:url(img/gd11.jpg)')
								.Wallop-item(style='background-image:url(img/gd12.jpg)')
								.Wallop-item(style='background-image:url(img/gd13.jpg)')
								.Wallop-item(style='background-image:url(img/gd14.jpg)')
								.Wallop-item(style='background-image:url(img/gd15.jpg)')
								.Wallop-item(style='background-image:url(img/gd16.jpg)')
								.Wallop-item(style='background-image:url(img/gd17.jpg)')
								.Wallop-item(style='background-image:url(img/gd18.jpg)')
								.Wallop-item(style='background-image:url(img/gd19.jpg)')
								.Wallop-item(style='background-image:url(img/gd20.jpg)')
								.Wallop-item(style='background-image:url(img/gd21.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Go Dreamers
						ul
							li
								p Uma agenda de integração especial para noss@s primeir@s Dreamers!
							li
								p Interação entre Campinas e São Paulo já nos primeiros dias de estágio
			section.partial-bg-flat
				.container.content-50-50
					.img-contain
						img(src='img/vip-kit.jpg')
					.txt-list
						h2 VIP Kit
						ul
							li
								p Nosso kit de boas vindas para posições executivas e estratégicas!
			section.container.images
				div
					img(src='img/opportunities.png')
			section
				.container.content-50-50
					.txt-list
						h2 Movile Universitária
						ul
							li
								p Participamos de 9 eventos de grande porte,  em todo o estado de São Paulo!
							li
								p E + de 30 Movilian@s participaram levando mais sobre a Movile a universitários e universitárias!
					.slider
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item(style='background-image:url(img/mu1.jpg)')
								.Wallop-item(style='background-image:url(img/mu2.jpg)')
								.Wallop-item(style='background-image:url(img/mu3.jpg)')
								.Wallop-item(style='background-image:url(img/mu4.jpg)')
								.Wallop-item(style='background-image:url(img/mu5.jpg)')
								.Wallop-item(style='background-image:url(img/mu6.jpg)')
								.Wallop-item(style='background-image:url(img/mu7.jpg)')
								.Wallop-item(style='background-image:url(img/mu8.jpg)')
								.Wallop-item(style='background-image:url(img/mu9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered
				.container
					h2 Sponsors
					p.narrow Nossos 17 estagiários do Mobile Dream se tornaram Sponsors oficiais da Movile em suas universidades, em Campinas e São Paulo
					.underline.underline-accent
			section.partial-bg-gradient
				.container.content-50-50
					.img-gallery
						div(style='background-image:url(img/presentes1.png)')
						div(style='background-image:url(img/presentes2.png)')
						div(style='background-image:url(img/presentes3.png)')
						div(style='background-image:url(img/presentes4.png)')
						div(style='background-image:url(img/presentes5.png)')
						div(style='background-image:url(img/presentes6.png)')
					.txt-simple
						h2 Presentes
						p Distribuímos e sorteamos brindes inspiradores, com o nosso jeito de ser!
						.underline.underline-white
			section.centered
				.container
					h2 Talk Tech Hackathon
					p.narrow Promovemos ao público o desafio de desenvolver um bot em 12 horas! 20 Movilianos do time de Tecnologia participaram como mentores
					p
						span Alimentação durante todo o evento
					.underline.underline-accent
			section.centered
				.container.photo-wall
					div
						img(src='img/talktech1.jpg')
					div.multi-photos
						img(src='img/talktech2.jpg')
						img(src='img/talktech3.jpg')
				.container.photo-wall
					div.multi-photos
						img(src='img/talktech5.jpg')
						img(src='img/talktech6.jpg')
					div
						img(src='img/talktech4.png')
				.comment
					.underline.underline-black
					h3
						span Premiação de R$2.500,00
					p Contratamos um dos vencedores!
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Mobile Dream 2016
						ul
							li
								p Dreamers deram as caras na promoção da nova edição do programa!
							li
								p Teve webinar com nosso CEO, que falou mais sobre a Movile com candidat@s de todo Brasil!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/md1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md9.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md10.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md15.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md16.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md17.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md18.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md19.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md20.jpg)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(img/md21.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/md22.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/md23.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/md24.jpeg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			include ../pug-templates/pilarFooter
			+footerLinks('contratar','inspirar')
		include ../pug-templates/pilarJS

