.overlay
nav
	div.trigger.trigger-pilar
		ul
			li
			li
			li
		span MENU
	div.menu
		a(class='link', href='../') Inicio
		span PILARES:
		include ../pug-templates/pilar_liItems
		ul
			+liItems('contratar','link-selected')
			+liItems('receber','link')
			+liItems('inspirar','link')
			+liItems('falar','link')
			+liItems('escutar','link')
			+liItems('agradecer','link')
			+liItems('desenvovler','link')
			+liItems('cuidar','link')
			+liItems('celebrar','link')
			+liItems('compartilhar','link')
		div.gptw
			p GPTW - 2017
			a(href="http://movile.com", target='blank') www.movile.com