link(rel='icon', href='../favicon.ico', type='image/x-icon')
link(rel='shortcut icon', href='../favicon.ico', type='image/x-icon')
link(rel="stylesheet", href="../css/basic.css")
link(rel="stylesheet", href="../css/pilars.css")
link(rel="stylesheet", href="../css/wallop.css")
link(rel="stylesheet", href="../css/wallop--slide.css")
mixin pilarTitle(pilar)
	title= pilar+' | Movile | Great Place to Work'