script(src='../js/umbrella.min.js')
script(src='../js/changeHeader.js')
script(src='../js/activeMenu.js')
script(src='../js/Wallop.js')
script.
	var q = u('.Wallop').length;
	console.log(q)
	i = 1
	while (i <= q) {
		slider = "slider"+i
		var slider = document.querySelector('.Wallop--'+i);
		new Wallop(slider);
		i++
	}