doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Compartilhar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link')
						+liItem('escutar','link')
						+liItem('agradecer','link')
						+liItem('desenvolver','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link-selected')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/compartilhar.png")
				h1 Compartilhar
				.arrow-down
			.container.cover
				h3 Movile Solidária
				p Nossa missão é melhorar a vida de 1 bilhão de pessoas e acreditamos que, além dos nossos produtos, nossas ações impactam diretamente essa meta!
				.underline.underline-accent
				img(src='img/solidaria4.jpg')
			section.full-bg-flat
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria10.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria15.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria16.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria17.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria18.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria19.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria20.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria21.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria22.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria23.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria24.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria25.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria26.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria27.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria28.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria29.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria30.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria31.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria32.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria33.jpeg)')
								.Wallop-item.bg-contain(style='background-image:url(img/solidaria34.jpeg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						ul
							li
								p Páscoa: Movilian@s doaram mais de 150 caixas de bombom para montar os kits de 450 crianças da LBV.
							li
								p Campanha do agasalho: Movilian@s foram às ruas fazer as doações, que lotaram um carro, em campanha organizada organicamente.
							li
								p Doação de sangue: Durante todo ano, compartilhamos os posts do governo de São Paulo sobre os estoques de tipo sanguíneo no Movile@Facebook como forma de lembrar Movilian@s a fazerem a doação
							li
								p Natal Solidário: Levamos kits da PlayKids, com livrinhos e vouchers gratuitos para as crianças, e um kit com fone de ouvido e viseiras para os adolescentes. Seis Movilian@s passaram uma manhã transformadora no local, dando muito carinho e atenção
			section
				.container.content-50-50
					.txt-list
						h2 Peer Recognition
						ul
							li
								p Uma maneira simples e acessível para praticarmos a meritocracia e o reconhecimento uns com os outros!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer3.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer7.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer8.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer9.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer10.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer11.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer12.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer13.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer14.png)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/peer15.png)')
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer16', data-video-format='mov')
										img.shadow(src="../inspirar/videos/peer16.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer17', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/peer17.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/peer18', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/peer18.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.centered.container
						h2 Giftwork
						p.narrow 20 líderes Movilian@s participaram da jornada Giftwork, ministrada pelo time do Great Place to Work, e acompanhada pelo time de Gente.
						p.narrow Esse foi um marco do desenvolvimento da liderança da Movile, na busca incessante pela construção de uma empresa cada vez mais incrível, levando reconhecimento e inspiração a cada Movilian@, dia após dia
						.underline.underline-accent
				.container.images(style='margin-top:0px')
					div
						img(src='../inspirar/img/giftwork1.jpg')
					div
						img(src='../inspirar/img/giftwork2.jpg')
				.container.images
					div
						img(src='../inspirar/img/giftwork3.jpg')
					div
						img(src='../inspirar/img/giftwork4.jpg')
			section
				.container.content-50-50
					.txt-list
						h2 Stock Options - Depoimentos
						ul
							li
								p Movilianos e Movilianas que possuem stocks deram seus depoimentos de como e porquê conquistaram o maior reconhecimento na Movile
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-gradient
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia1', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia1.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia2', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia2.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia3', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia3.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia4', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia4.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia5', data-video-format='m4v')
										img.shadow(src="../inspirar/videos/historia5.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia6', data-video-format='m4v')
										img.shadow(src="../inspirar/videos/historia6.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia7', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia7.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia8', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia8.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/fw19', data-video-format='mov')
										img.shadow(src="../inspirar/videos/fw19.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Conte uma história
						ul
							li
								p Programa de storytelling para inspirar Movilianos e Movilianas com as histórias uns dos outros
			section
				.container.content-50-50
					.txt-list
						h2 Stock Options
						ul
							li
								p Movilian@s que mais se destacaram em resultados e aderência a valores recebem stocks.
							li
								p Em 2016, premiamos 44 Movilian@s com stock options!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock1.jpg)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(../falar/img/stock2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../falar/img/stock7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered.full-bg-gradient
				.container
					h2 Tech Talks
					p.narrow Encontros e grupos de troca de conhecimento acontecem organicamente.
					p
						span Promovidos pel@s própri@s Movilian@s!
					.underline.underline-white
				.container.photo-wall(style='margin-top:0px')
					div
						img(src='../inspirar/img/techtalks3.png')
					div.multi-photos
						img(src='../inspirar/img/techtalks1.png')
						img(src='../inspirar/img/techtalks2.png')
			section
				.container.content-50-50
					.txt-list
						h2 Movile Universitária
						ul
							li
								p Participamos de 9 eventos de grande porte,  em todo o estado de São Paulo!
							li
								p E + de 30 Movilian@s participaram levando mais sobre a Movile a universitários e universitárias!
					.slider
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item(style='background-image:url(../contratar/img/mu1.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu2.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu3.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu4.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu5.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu6.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu7.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu8.jpg)')
								.Wallop-item(style='background-image:url(../contratar/img/mu9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered.full-bg-flat
				.container
					h2 Community
					p.narrow Movilian@s espalhando inspiração e conhecimento em eventos por todo o país!
					.underline.underline-accent
				.container.photo-wall(style='margin-top:0px')
					div
						img(src='../inspirar/img/community2.png')
					div.multi-photos
						img(src='../inspirar/img/community1.png')
						img(src='../inspirar/img/community4.png')
				.container.photo-wall
					div.multi-photos
						img(src='../inspirar/img/community6.png')
						img(src='../inspirar/img/community5.png')
					div
						img(src='../inspirar/img/community3.png')
			section.centered
				.container
					h2 Talk Tech Hackathon
					p.narrow Promovemos ao público o desafio de desenvolver um bot em 12 horas! 20 Movilianos do time de Tecnologia participaram como mentores
					p
						span Alimentação durante todo o evento
					.underline.underline-accent
			section.centered
				.container.photo-wall
					div
						img(src='../contratar/img/talktech1.jpg')
					div.multi-photos
						img(src='../contratar/img/talktech2.jpg')
						img(src='../contratar/img/talktech3.jpg')
				.container.photo-wall
					div.multi-photos
						img(src='../contratar/img/talktech5.jpg')
						img(src='../contratar/img/talktech6.jpg')
					div
						img(src='../contratar/img/talktech4.png')
				.comment
					.underline.underline-black
					h3
						span Premiação de R$2.500,00
					p Contratamos um dos vencedores!
			section.full-bg-gradient
				.centered.container
					h2 RESPECT
					p.narrow O grupo de Embaixadores de diversidade esteve a frente de ações especiais e de grande impacto.
				.container.content-50-50
					.txt-list
						h2 Dia Internacional da Mulher
						ul
							li
								p Todos foram convidados a votar nas Movilianas que mais os inspiram em cada valor da Movile.
							li
								p Homenagens e presentes para as Movilianas!
							li
								p Vídeo com a blogueira Camila Achutti sobre mulheres na computaçãos!
					.slider
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday7.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/raspadinha', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/raspadinha.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Dia da Diversidade LGBT
						ul
							li
								p Um bate-papo descontraído com o jornalista e apresentador Marcelo Tas.
					.slider
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt6.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Nossas Movilianas promoveram uma roda de discussão sobre empoderamento feminino, assédio, abuso e discriminação.
					.slider
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
					.slider
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/we-care10.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 I do. We care.
						ul
							li
								p Iniciativa dos times de Facilities e Design, com apoio da área de Engagement.
							li
								p Ações para melhorar o ambiente de trabalho e impactar positivamente a vida das pessoas.
			
			include ../pug-templates/pilarFooter
			+footerLinks('celebrar','contratar')
		include ../pug-templates/pilarJS

