doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Falar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link')
						+liItem('falar','link-selected')
						+liItem('escutar','link')
						+liItem('agradecer','link')
						+liItem('desenvovler','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/falar.png")
				h1 Falar
				.arrow-down
			.container.cover
				h3 Guide Institucional
				.underline.underline-accent
				img(src='img/guide1.png')
			section
				.container.content-50-50
					.txt-list
						h2 Guide Institucional
						ul
							li
								p Um espaço aberto a tod@s Movilian@s com materiais institucionais fundamentais
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/guide2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/guide3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/guide4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/guide5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/play1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/play2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/play3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/play4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/play5.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Play To Be The Best
						ul
							li
								p O slogan do Game JMS, “Play To Be The Best”, acabou virando o tema da comunicação interna em 2016!
			section
				.container.content-50-50
					.txt-list
						h2 Conte uma história
						ul
							li
								p Programa de storytelling para inspirar Movilianos e Movilianas com as histórias uns dos outros
					.slider
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia1', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia1.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia2', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia2.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia3', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia3.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia4', data-video-format='mov')
										img.shadow(src="../inspirar/videos/historia4.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia5', data-video-format='m4v')
										img.shadow(src="../inspirar/videos/historia5.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia6', data-video-format='m4v')
										img.shadow(src="../inspirar/videos/historia6.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia7', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia7.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/historia8', data-video-format='mp4')
										img.shadow(src="../inspirar/videos/historia8.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='../inspirar/videos/fw19', data-video-format='mov')
										img.shadow(src="../inspirar/videos/fw19.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-gradient
				.centered.container
					h2 RESPECT
					p.narrow O grupo de Embaixadores de diversidade esteve a frente de ações especiais e de grande impacto.
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/womansday7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Dia Internacional da Mulher
						ul
							li
								p Todos foram convidados a votar nas Movilianas que mais os inspiram em cada valor da Movile.
							li
								p Homenagens e presentes para as Movilianas!
							li
								p Vídeo com a blogueira Camila Achutti sobre mulheres na computaçãos!
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/lgbt6.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Dia da Diversidade LGBT
						ul
							li
								p Um bate-papo descontraído com o jornalista e apresentador Marcelo Tas.
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/outubro-magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Nossas Movilianas promoveram uma roda de discussão sobre empoderamento feminino, assédio, abuso e discriminação.
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/respect/novembro-azul5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
			section
				.container.content-50-50
					.txt-list
						h2 Stock Options - Depoimentos
						ul
							li
								p Movilianos e Movilianas que possuem stocks deram seus depoimentos de como e porquê conquistaram o maior reconhecimento na Movile
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/stock1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/stock7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/gptw', data-video-format='mov')
										img.shadow(src="videos/gptw.png")
								.Wallop-item.bg-contain(style='background-image:url(img/gptw1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/gptw7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 GPTW: O Oscar das empresas!
						ul
							li
								p Uma campanhas temática especial para contar os detalhes sobre a pesquisa GPTW a tod@s!
			section
				.container.content-50-50
					.txt-list
						h2 Idioma
						ul
							li
								p Movilianos e Movilianas que possuem stocks deram seus depoimentos de como e porquê conquistaram o maior reconhecimento na Movile
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/idioma1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/idioma2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/idioma3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/idioma4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/idioma5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/idioma6.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-gradient
				.centered.container
						h2 Let’s Talk – PlayKids
						p Encontro mensal, conduzido pelo CEO da PlayKids, que envolve todas as pessoas do time.
						p Espaço de transparência e troca de informações relevantes para a condução do negócio
				.container.images(style='margin-top:30px')
					div
						img(src='img/letstalk1.png')
			section
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/mc9.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Mobile Content - We got the power
						ul
							li
								p Uma identidade visual própria, pulseiras com valores essenciais e grandes encontros para celebrar o orgulho de pertencer da principal unidade de negócio da Movile!
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Let’s Talk - Kick Off New Fiscal Year!
						ul
							li
								p História da PlayKids, compartilhamento de novas metas, celebração de resultados, desafios e conquistas em uma tarde cheia de energia!
					.slider
						.Wallop.Wallop--slide.Wallop--12
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../inspirar/img/letstalk8.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.img-gallery
						div(style='background-image:url(../inspirar/img/pe1.jpg)')
						div(style='background-image:url(../inspirar/img/pe2.jpg)')
						div(style='background-image:url(../inspirar/img/pe3.jpg)')
						div(style='background-image:url(../inspirar/img/pe4.jpg)')
						div(style='background-image:url(../inspirar/img/pe5.jpg)')
						div(style='background-image:url(../inspirar/img/pe6.jpg)')
					.txt-simple
						h2 Planejamento Estratégico
						p 130 Movilianos e Movilianas reunidos em um momento de integração e inspiração, construindo, junto com todo o corpo diretivo, o futuro da empresa e do grupo
						.underline.underline-white
			section
				.container.content-50-50
					.txt-list
						h2 Interação familiar
						ul
							li
								p Filhas, filhos, esposos, esposas, pais, fazem parte de nossas celebrações.
							li
								p Um jeito de garantir maior envolvimento e transparência aos entes queridos d@s noss@s Movilian@s.
					.slider
						.Wallop.Wallop--slide.Wallop--13
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/familiar1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/familiar7.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.centered.container
						h2 Telões
						p Telões em todos os escritórios garantem comunicação de qualidade.
						p 
							span  E em tempo real!
						.underline.underline-accent
				.container.images(style='margin-top: 0px')
					div
						img(src='img/teloes1.jpg')
					div
						img(src='img/teloes3.jpg')
				.container.images
					div
						img(src='img/teloes2.jpg')
					div
						img(src='img/teloes4.jpg')
			section
				.container.content-50-50
					.txt-list
						h2 Papo 10b!
						ul
							li
								p Bate-papo d@s Movilian@s com nosso CEO seguiu firme e forte em 2016 com novas edições!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--14
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/papo1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/papo10.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.txt-list
						h2 Movile@Facebook
						ul
							li
								p Nosso pioneiro canal de comunicação interna completou 1 ano!
							li
								p Mais de 1.300 usuários e 164 grupos criados com diversos temas
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--15
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook3.png)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(img/movile-facebook4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/movile-facebook9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.centered.container
						h2 RMR e RMA
						p Nossas reuniões mensais garantem transparência e deixam tod@s @s Movilian@s informad@s sobre os resultados gerais da Movile, das empresas investidas e das unidades de negócio.
						.underline.underline-accent
			section
				.container.images
					div
						img(src='img/rma1.jpg')
					div
						img(src='img/rma2.jpg')
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--16
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/kpi1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kpi2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/kpi3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 KPIs
						ul
							li
								p TVs pelos escritórios e emails diários garantem visibilidade total a tod@s Movilian@s!
			section
				.centered.container
						h2 SMS
						p Um dos nossos principais produtos é também um efetivo canal de comunicação!
						.underline.underline-accent
			section
				.container.images
					div
						img(src='img/sms1.png')
			section
				.container.images
					div
						img(src='img/sms2.png')
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Comunicados nos banheiros
						ul
							li
								p Uma das formas mais simples e com maior impacto!
					.img-contain
						img(src='img/banheiro1.jpg')
			section.full-bg-gradient
				.centered.container
						h2 Cartazes
						p Diminuímos a comunicação impressa com consciência ambiental e só o essencial nas paredes!
				.container.images(style='margin-top:0px')
					div
						img(src='img/cartazes1.jpg')
					div
						img(src='img/cartazes2.jpg')
			include ../pug-templates/pilarFooter
			+footerLinks('inspirar','escutar')
		include ../pug-templates/pilarJS

