doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Inspirar')
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					a(class='link', href='../') Inicio
					span PILARES:
					include ../pug-templates/pilar_li_item
					ul
						+liItem('contratar','link')
						+liItem('receber','link')
						+liItem('inspirar','link-selected')
						+liItem('falar','link')
						+liItem('escutar','link')
						+liItem('agradecer','link')
						+liItem('desenvolver','link')
						+liItem('cuidar','link')
						+liItem('celebrar','link')
						+liItem('compartilhar','link')
					include ../pug-templates/pilar_menu_gptw
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/inspirar.png")
				h1 Inspirar
				.arrow-down
			.container.cover
				h3 Game JMS
				p Maior autonomia e transparência para tod@s @s Movilian@s!
				.underline.underline-accent
				img(src='img/game-jms1.jpg')
			section
				.container.content-50-50
					.txt-list
						h2 O app
						ul
							li
								p Uma nova versão do nosso Jeito Moviliano de Ser!
									br
									| O mundo é mobile!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--1
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms10.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms15.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/game-jms16.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--2
							.Wallop-list
								.Wallop-item(style='background-image:url(img/new-office1.jpg)')
								.Wallop-item(style='background-image:url(img/new-office2.jpg)')
								.Wallop-item(style='background-image:url(img/new-office3.jpg)')
								.Wallop-item(style='background-image:url(img/new-office4.jpg)')
								.Wallop-item(style='background-image:url(img/new-office5.jpg)')
								.Wallop-item(style='background-image:url(img/new-office6.jpg)')
								.Wallop-item(style='background-image:url(img/new-office7.jpg)')
								.Wallop-item(style='background-image:url(img/new-office8.jpg)')
								.Wallop-item(style='background-image:url(img/new-office9.jpg)')
								.Wallop-item(style='background-image:url(img/new-office10.jpg)')
								.Wallop-item(style='background-image:url(img/new-office11.jpg)')
								.Wallop-item(style='background-image:url(img/new-office12.jpg)')
								.Wallop-item(style='background-image:url(img/new-office13.jpg)')
								.Wallop-item(style='background-image:url(img/new-office14.jpg)')
								.Wallop-item(style='background-image:url(img/new-office15.jpg)')
								.Wallop-item(style='background-image:url(img/new-office16.jpg)')
								.Wallop-item(style='background-image:url(img/new-office17.jpg)')
								.Wallop-item(style='background-image:url(img/new-office18.jpg)')
								.Wallop-item(style='background-image:url(img/new-office19.jpg)')
								.Wallop-item(style='background-image:url(img/new-office20.jpg)')
								.Wallop-item(style='background-image:url(img/new-office21.jpg)')
								.Wallop-item(style='background-image:url(img/new-office22.jpg)')
								.Wallop-item(style='background-image:url(img/new-office23.jpg)')
								.Wallop-item(style='background-image:url(img/new-office24.jpg)')
								.Wallop-item(style='background-image:url(img/new-office25.jpg)')
								.Wallop-item(style='background-image:url(img/new-office26.jpg)')
								.Wallop-item(style='background-image:url(img/new-office27.jpg)')
								.Wallop-item(style='background-image:url(img/new-office28.jpg)')
								.Wallop-item(style='background-image:url(img/new-office29.jpg)')
								.Wallop-item(style='background-image:url(img/new-office30.jpg)')
								.Wallop-item(style='background-image:url(img/new-office31.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Novos escritórios
						ul
							li
								p Mudamos, reformamos, tudo para inspirar ainda mais noss@s Movilian@s com escritórios incríveis!
							li
								p Movilian@s participaram de comitê de decoração, contribuindo com ideias para novos espaços
			section.centered
				.container
					h2 Community
					p.narrow Movilian@s espalhando inspiração e conhecimento em eventos.
					p
						span Por todo o país!
					.underline.underline-accent
			section.centered
				.container.photo-wall
					div
						img(src='img/community2.png')
					div.multi-photos
						img(src='img/community1.png')
						img(src='img/community4.png')
				.container.photo-wall
					div.multi-photos
						img(src='img/community6.png')
						img(src='img/community5.png')
					div
						img(src='img/community3.png')
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Let's Play + To Infitiniy & Beyond
						ul
							li
								p Projetos especiais para o time da PlayKids
							li
								p Motivação, propósito e reconhecimento no incrível universo de quem constrói a plataforma número 1 para crianças!
					.slider
						.Wallop.Wallop--slide.Wallop--3
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/infinity1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/infinity2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/infinity3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered
				.container
					h2 Alexandre Hohagen
					p.narrow TechTalks Edição Especial
					.underline.underline-accent
			section
				.container.images
					div
						img(src='img/hohagen1.png')
					div
						img(src='img/hohagen2.png')
			section.partial-bg-gradient
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--4
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/mc1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/mc9.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Mobile Content - We got the power
						ul
							li
								p Uma identidade visual própria, pulseiras com valores essenciais e grandes encontros para celebrar o orgulho de pertencer da principal unidade de negócio da Movile!
			section
				.container.content-50-50
					.txt-list
						h2 Let’s Talk - Kick Off New Fiscal Year!
						ul
							li
								p História da PlayKids, compartilhamento de novas metas, celebração de resultados, desafios e conquistas em uma tarde cheia de energia!
					.slider
						.Wallop.Wallop--slide.Wallop--5
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/letstalk8.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--6
							.Wallop-list
								.Wallop-item(style='background-image:url(img/eventos1.jpg)')
								.Wallop-item(style='background-image:url(img/eventos2.jpg)')
								.Wallop-item(style='background-image:url(img/eventos3.jpg)')
								.Wallop-item(style='background-image:url(img/eventos4.jpg)')
								.Wallop-item(style='background-image:url(img/eventos5.jpg)')
								.Wallop-item(style='background-image:url(img/eventos6.jpg)')
								.Wallop-item(style='background-image:url(img/eventos7.jpg)')
								.Wallop-item(style='background-image:url(img/eventos8.jpg)')
								.Wallop-item(style='background-image:url(img/eventos9.jpg)')
								.Wallop-item(style='background-image:url(img/eventos10.jpg)')
								.Wallop-item(style='background-image:url(img/eventos11.jpg)')
								.Wallop-item(style='background-image:url(img/eventos12.jpg)')
								.Wallop-item(style='background-image:url(img/eventos13.jpg)')
								.Wallop-item(style='background-image:url(img/eventos14.jpg)')
								.Wallop-item(style='background-image:url(img/eventos15.jpg)')
								.Wallop-item(style='background-image:url(img/eventos16.jpg)')
								.Wallop-item(style='background-image:url(img/eventos17.jpg)')
								.Wallop-item(style='background-image:url(img/eventos18.jpg)')
								.Wallop-item(style='background-image:url(img/eventos19.jpg)')
								.Wallop-item(style='background-image:url(img/eventos20.jpg)')
								.Wallop-item(style='background-image:url(img/eventos21.jpg)')
								.Wallop-item(style='background-image:url(img/eventos22.jpg)')
								.Wallop-item(style='background-image:url(img/eventos23.jpg)')
								.Wallop-item(style='background-image:url(img/eventos24.jpg)')
								.Wallop-item(style='background-image:url(img/eventos25.jpg)')
								.Wallop-item(style='background-image:url(img/eventos26.jpg)')
								.Wallop-item(style='background-image:url(img/eventos27.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Eventos
						ul
							li
								p Levamos o Guga e mais de 15 Movilian@s para falar sobre inovação e conquistas para nossos principais parceiros de negócios
							li
								p Influenciadores, jornalistas e mais de 30 Movilian@s apresentaram as novidades da PlayKids com uma convidada mais do que especial: Priscila, da TV Colosso! 
			section
				.centered.container
						h2 Thinkathon
						p 45 Movilian@s envolvidos
						p Integração entre os times de Tecnologia e Negócios
						p Espaço para criação de ideias e produtos
						.underline.underline-accent
			section.container.images
				div
					img(src='img/thinkathon.png')
			section.partial-bg-gradient
				.container.content-50-50
					.txt-list
						h2 Culture book
						ul
							li
								p Começamos a construir nosso Culture Book!
					.img-full
						a(href="img/culture-book.pdf", target="blank")
							img.shadow(src="img/culture-book.png")
			section
				.centered.container
						h2 Olímpiadas Movile
						p Posts temáticos transbordando inspiração com transmissão dos principais jogos.
						p 
							span #determinação #foco #garra #persistência #trabalho em equipe.
						.underline.underline-accent
			section
				.container.images
					div
						img(src='img/olimpiadas1.jpg')
					div
						img(src='img/olimpiadas4.png')
			section
				.container.images
					div
						img(src='img/olimpiadas3.png')
					div
						img(src='img/olimpiadas2.png')
			section
				.centered.container
						p Sessão Lado B: noss@s atletas Movilian@s revelaram suas histórias!
						.underline.underline-accent
			section
				.container.images
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/olimpiadas5', data-video-format='mp4')
							img.shadow(src="videos/olimpiadas5.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/olimpiadas6', data-video-format='mp4')
							img.shadow(src="videos/olimpiadas6.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/olimpiadas7', data-video-format='mp4')
							img.shadow(src="videos/olimpiadas7.png")
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--7
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/new-office1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office10.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office11.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office12.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office13.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office14.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office15.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office16.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office17.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office18.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office19.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office20.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office21.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office22.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office23.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office24.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office25.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office26.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office27.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office28.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office29.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office30.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/new-office30.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Novos escritórios
						ul
							li
								p Mudamos, reformamos, tudo para inspirar ainda mais noss@s Movilian@s com escritórios incríveis!
							li
								p Movilian@s participaram de comitê de decoração, contribuindo com ideias para novos espaços.
			section
				.container.content-50-50
					.txt-list
						h2 Peer Recognition
						ul
							li
								p Uma maneira simples e acessível para praticarmos a meritocracia e o reconhecimento uns com os outros!
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--8
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/peer1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer9.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer10.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/peer15.png)')
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='videos/peer16', data-video-format='mov')
										img.shadow(src="videos/peer16.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='videos/peer17', data-video-format='mp4')
										img.shadow(src="videos/peer17.png")
								.Wallop-item.bg-contain
									a.active-video(href="javascript:", data-video-path='videos/peer18', data-video-format='mp4')
										img.shadow(src="videos/peer18.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.full-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--9
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/fw1.jpg)')
								.Wallop-item.bg-contain.Wallop-item--current(style='background-image:url(img/fw2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw10.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw11.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw12.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw13.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw14.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw15.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw16.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/fw17.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Future Wall
						ul
							li
								p Nosso CEO conquistou o sonho grande que deu origem a tudo!
							li
								p 10 sonhos foram conquistados e celebrados!
							li
								p Reconhecemos @s Movilian@s Gente FIRME com a conquista de seus sonhos…
							li
								p E ainda incentivamos nossa liderança a sonhar junto com @s Movilian@s!
				.container.images(style='margin-top: 30px')
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/fw18', data-video-format='mp4')
							img.shadow(src="videos/fw18.png")
					.img-full
						a.active-video(href="javascript:", data-video-path='videos/fw19', data-video-format='mov')
							img.shadow(src="videos/fw19.png")
			section.centered
				.container
					h2 Tech Talks
					p.narrow Encontros e grupos de troca de conhecimento acontecem organicamente.
					p
						span Promovidos pel@s própri@s Movilian@s!
					.underline.underline-accent
			section.centered
				.container.photo-wall
					div
						img(src='img/techtalks3.png')
					div.multi-photos
						img(src='img/techtalks1.png')
						img(src='img/techtalks2.png')
			section.full-bg-gradient
				.centered.container
					h2 RESPECT
					p.narrow O grupo de Embaixadores de diversidade esteve a frente de ações especiais e de grande impacto.
				.container.content-50-50
					.txt-list
						h2 Dia Internacional da Mulher
						ul
							li
								p Todos foram convidados a votar nas Movilianas que mais os inspiram em cada valor da Movile.
							li
								p Homenagens e presentes para as Movilianas!
							li
								p Vídeo com a blogueira Camila Achutti sobre mulheres na computaçãos!
					.slider
						.Wallop.Wallop--slide.Wallop--10
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/womansday7.jpg)')
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/raspadinha', data-video-format='mp4')
										img.shadow(src="videos/raspadinha.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Dia da Diversidade LGBT
						ul
							li
								p Um bate-papo descontraído com o jornalista e apresentador Marcelo Tas.
					.slider
						.Wallop.Wallop--slide.Wallop--11
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/lgbt6.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Outubro Magenta
						ul
							li
								p Nossas Movilianas promoveram uma roda de discussão sobre empoderamento feminino, assédio, abuso e discriminação.
					.slider
						.Wallop.Wallop--slide.Wallop--12
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/respect/outubro-magenta1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/outubro-magenta2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/outubro-magenta3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
				.container.content-50-50
					.txt-list
						h2 Novembro Azul
						ul
							li
								p Bate-papo sem rótulos entre todos @s Movilian@s, liderado por 4 homens, para discutir sobre machismo.
					.slider
						.Wallop.Wallop--slide.Wallop--13
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/respect/novembro-azul1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/novembro-azul2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/novembro-azul3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/novembro-azul4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/respect/novembro-azul5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--14
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/we-care1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care5.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care6.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care7.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care8.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care9.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(img/we-care10.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 I do. We care.
						ul
							li
								p Iniciativa dos times de Facilities e Design, com apoio da área de Engagement.
							li
								p Ações para melhorar o ambiente de trabalho e impactar positivamente a vida das pessoas.
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Conte uma história
						ul
							li
								p Programa de storytelling para inspirar Movilianos e Movilianas com as histórias uns dos outros
					.slider
						.Wallop.Wallop--slide.Wallop--15
							.Wallop-list
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia1', data-video-format='mp4')
										img.shadow(src="videos/historia1.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia2', data-video-format='mov')
										img.shadow(src="videos/historia2.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia3', data-video-format='mov')
										img.shadow(src="videos/historia3.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia4', data-video-format='mov')
										img.shadow(src="videos/historia4.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia5', data-video-format='m4v')
										img.shadow(src="videos/historia5.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia6', data-video-format='m4v')
										img.shadow(src="videos/historia6.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia7', data-video-format='mp4')
										img.shadow(src="videos/historia7.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/historia8', data-video-format='mp4')
										img.shadow(src="videos/historia8.png")
								.Wallop-item
									a.active-video(href="javascript:", data-video-path='videos/fw19', data-video-format='mov')
										img.shadow(src="videos/fw19.png")
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--16
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha9.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha10.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha11.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha12.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha13.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha14.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha15.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/adivinha16.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Adivinha quem é?
						ul
							li
								p A divulgação da nossa celebração do Dia das Crianças, 12 Movilian@s enviaram fotos de quando era criança, espalhando fofura…
			section.partial-bg-gradient
				.container.content-50-50
					.txt-list
						h2 Camisetas e pulseiras exclusivas 
						ul
							li
								p Orgulho em pertencer e inspiração está presente em coisas, muitas vezes, pequenas e simbólicas, como camisetas e pulseiras!
					.slider
						.Wallop.Wallop--slide.Wallop--17
							.Wallop-list
								.Wallop-item(style='background-image:url(img/camisa_pulseira1.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira2.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira3.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira4.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira5.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira6.jpg)')
								.Wallop-item(style='background-image:url(img/camisa_pulseira7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/camisa_pulseira8.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section
				.container.content-50-50
					.slider
						.Wallop.Wallop--slide.Wallop--18
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome1.png)')
								.Wallop-item.Wallop-item--current.bg-contain(style='background-image:url(../receber/img/welcome2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome3.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome4.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome5.png)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome6.png)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome7.png)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/welcome8.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Programa de Onboarding
						ul
							li
								p Welcome e-mail, Welcome bag, Welcome SMS, Welcome kit, Welcome baloon, Welcome you, Welcome to Movile, Welcome Talk
			section.partial-bg-flat
				.container.content-50-50
					.txt-list
						h2 Destaques na mídia
						ul
							li
								p Mais de 800 menções em publicações
							li
								p Orgulho imenso entre Movilianos e Movilianas
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--19
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(img/midia1.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia2.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia3.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia4.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia5.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia6.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia7.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia8.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia9.png)')
								.Wallop-item.bg-contain(style='background-image:url(img/midia10.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-gradient
				.container.content-50-50
					.img-gallery
						div(style='background-image:url(img/pe1.jpg)')
						div(style='background-image:url(img/pe2.jpg)')
						div(style='background-image:url(img/pe3.jpg)')
						div(style='background-image:url(img/pe4.jpg)')
						div(style='background-image:url(img/pe5.jpg)')
						div(style='background-image:url(img/pe6.jpg)')
					.txt-simple
						h2 Planejamento Estratégico
						p 130 Movilianos e Movilianas reunidos em um momento de integração e inspiração, construindo, junto com todo o corpo diretivo, o futuro da empresa e do grupo
						.underline.underline-white
			section
				.centered.container
						h2 Giftwork
						p.narrow 20 líderes Movilian@s participaram da jornada Giftwork, ministrada pelo time do Great Place to Work, e acompanhada pelo time de Gente.
						p.narrow Esse foi um marco do desenvolvimento da liderança da Movile, na busca incessante pela construção de uma empresa cada vez mais incrível, levando reconhecimento e inspiração a cada Movilian@, dia após dia
						.underline.underline-accent
			section
				.container.images
					div
						img(src='img/giftwork1.jpg')
					div
						img(src='img/giftwork2.jpg')
			section
				.container.images
					div
						img(src='img/giftwork3.jpg')
					div
						img(src='img/giftwork4.jpg')
			section.full-bg-flat
				.container.content-50-50
					.slider.slider-medium
						.Wallop.Wallop--slide.Wallop--20
							.Wallop-list
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/wd1.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/wd2.jpg)')
								.Wallop-item.bg-contain(style='background-image:url(../receber/img/wd3.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Welcome, Dreamers!
						ul
							li
								p Estagiári@s do Mobile Dream 2016 receberam livro inspirador e carta do time de Gente e, ainda, foram convidad@s para nossa festa de fim de ano!
		

			include ../pug-templates/pilarFooter
			+footerLinks('receber','falar')
		include ../pug-templates/pilarJS

