doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		link(rel="stylesheet", href="../css/basic.css")
		link(rel="stylesheet", href="../css/pilars.css")
		link(rel="stylesheet", href="../css/wallop.css")
		link(rel="stylesheet", href="../css/wallop--slide.css")
		title Contratar | Movile | Great Place to Work
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					p 
						a(href='../index.html') Inicio
					span PILARES:
					include ../pug-templates/pilar_liItems
					ul
						+liItems('contratar','pilar-selected')
						+liItems('receber','pilar')
						+liItems('inspirar','pilar')
						+liItems('falar','pilar')
						+liItems('escutar','pilar')
						+liItems('agradecer','pilar')
						+liItems('desenvovler','pilar')
						+liItems('cuidar','pilar')
						+liItems('celebrar','pilar')
						+liItems('compartilhar','pilar')
					div.gptw
						p GPTW - 2017
						a(href="http://movile.com", target='blank') www.movile.com
			header.pilar
				img(src="../img/movile-logo-w.png")
				img(src="../img/movile-logo.png")
			.hero-bg
			section.title
				img(src="../img/pilares/contratar.png")
				h1 Contratar
				p Tudo que fazemos é para algo maior: as pessoas.
				.arrow-down
			include ../pug-templates/pilar_cover
			+coverPilar('Desenvolvemos nosso Employee Value Proposition (EVP)!', 'Contamos com +40 Movilian@s durante o desenvolvimento do projeto!', 'contratar')
			section.container.content-50-50
				.txt-list
					h2 Movile Journey
					ul
						li
							p Palestras, cursos, visitas aos nossos escritórios, participação em feiras e eventos para alunos do  ensino técnico de Tecnologia.
							p Nossa proposta é compartilhar conhecimento para que fiquem preparados para futuros desafios profissionais.
							p Setembro: evento no colégio técnico, com 8 Movilian@s, para desafio de case técnico com 40 participantes!
							p - Vencedores premiados no escritório da Movile, com roda de bate-papo com ex-estagiários
							p - Dos 10 melhores colocados, contratamos 4!
				.slider
					.Wallop.Wallop--slide
						.Wallop-list
							.Wallop-item(style='background-image:url(../img/movile-logo.png)')
							.Wallop-item(style='background-image:url(../img/cover-contratar.png)')
						button.Wallop-buttonPrevious Previous
						button.Wallop-buttonNext Next
			footer
				.divider
					div
					div
				.infos
					div
						img(src="../img/movile-logo.png")
					div
						p Próximo
						a(href="http://movile.com", target='blank') pilar
		script(src='../js/umbrella.min.js')
		script(src='../js/changeHeader.js')
		script(src='../js/activeMenu.js')
		script(src='../js/Wallop.js')
		script.
			var slider = document.querySelector('.Wallop');
			var Wallop = new Wallop(slider);



