doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		link(rel="stylesheet", href="../css/basic.css")
		link(rel="stylesheet", href="../css/pilars.css")
		title Movile | Great Place to Work
	body
		.wrapper
			.overlay
			nav
				div.trigger.trigger-pilar
					ul
						li
						li
						li
					span MENU
				div.menu
					p 
						a(href='index.html') Inicio
					span PILARES:
					include ../pug-templates/pilar_liItems
					ul
						+liItems('contratar','pilar-selected')
						+liItems('receber','pilar')
						+liItems('inspirar','pilar')
						+liItems('falar','pilar')
						+liItems('escutar','pilar')
						+liItems('agradecer','pilar')
						+liItems('desenvovler','pilar')
						+liItems('cuidar','pilar')
						+liItems('celebrar','pilar')
						+liItems('compartilhar','pilar')
					div.gptw
						p GPTW - 2017
						a(href="http://movile.com", target='blank') www.movile.com
			header.pilar
				img(src="../img/movile-logo-w.png")
				img(src="../img/movile-logo.png")
			.hero-bg
			section.title
				img(src="../img/pilares/contratar.png")
				h1 Contratar
				p Tudo que fazemos é para algo maior: as pessoas.
				.arrow-down

			//- footer
			//- 	.divider
			//- 		div
			//- 		div
			//- 	.infos
			//- 		div
			//- 			img(src="../img/movile-logo.png")
			//- 		div
			//- 			p Próximo
			//- 			a(href="http://movile.com", target='blank') pilar
		script(src='../js/umbrella.min.js')
		script(src='../js/changeHeader.js')
		script(src='../js/activeMenu.js')



