doctype html
html(lang='en')
	head
		include ../pug-templates/basicHead
		include ../pug-templates/pilarHead
		+pilarTitle('Contratar')
	body
		.wrapper
			include ../pug-templates/menu
			include ../pug-templates/pilarHeader
			.hero-bg
			section.title
				img(src="../img/pilares/contratar.png")
				h1 Contratar
				p Tudo que fazemos é para algo maior: as pessoas.
				.arrow-down
			include ../pug-templates/pilar_cover
			+coverPilar('Desenvolvemos nosso Employee Value Proposition (EVP)!', 'Contamos com +40 Movilian@s durante o desenvolvimento do projeto!', 'contratar')
			section
				.container.content-50-50
					.txt-list
						h2 Movile Journey
						ul
							li
								p Palestras, cursos, visitas aos nossos escritórios, participação em feiras e eventos para alunos do  ensino técnico de Tecnologia.
								p Nossa proposta é compartilhar conhecimento para que fiquem preparados para futuros desafios profissionais.
								p Setembro: evento no colégio técnico, com 8 Movilian@s, para desafio de case técnico com 40 participantes!
								p - Vencedores premiados no escritório da Movile, com roda de bate-papo com ex-estagiários
								p - Dos 10 melhores colocados, contratamos 4!
					.slider
						.Wallop.Wallop--1
							.Wallop-list
								.Wallop-item(style='background-image:url(img/journey1.jpg)')
								.Wallop-item(style='background-image:url(img/journey2.jpg)')
								.Wallop-item(style='background-image:url(img/journey3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.partial-bg-flat
				.container.content-50-50
					.img-contain
						img(src='img/app-print.png')
					.txt-list
						h2 Gente Pra Gente
						ul
							li
								p Indicações para nossas vagas vale badge no nosso app!
							li
								p Ninguém melhor do que nós mesmos para reconhecer potenciais nov@s Movilian@s!
			section
				.centered.container
						h2 Opportunities
						p Expandimos as oportunidades para todos os colaboradores do grupo Movile!
						p
							span Descomplicado e informal
						.underline.underline-accent
			section.container.images
				div
					img(src='img/opportunities.png')
			section.partial-bg-flat
				.container.content-50-50
					.slider
						.Wallop.Wallop--2
							mixin 
							.Wallop-list
								.Wallop-item(style='background-image:url(img/cocoaheads1.jpg)')
								.Wallop-item(style='background-image:url(img/cocoaheads2.jpg)')
								.Wallop-item(style='background-image:url(img/cocoaheads3.jpg)')
								.Wallop-item(style='background-image:url(img/cocoaheads4.jpg)')
								.Wallop-item(style='background-image:url(img/cocoaheads5.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
					.txt-list
						h2 Cocoaheads
						ul
							li
								p Novas edições do evento que agita a comunidade iOS!
			section
				.container.content-50-50
					.txt-list
						h2 Movile Universitária
						ul
							li
								p Participamos de 9 eventos de grande porte,  em todo o estado de São Paulo!
							li
								p E + de 30 Movilian@s participaram levando mais sobre a Movile a universitários e universitárias!
					.slider
						.Wallop.Wallop--3
							.Wallop-list
								.Wallop-item(style='background-image:url(img/mu1.jpg)')
								.Wallop-item(style='background-image:url(img/mu2.jpg)')
								.Wallop-item(style='background-image:url(img/mu3.jpg)')
								.Wallop-item(style='background-image:url(img/mu4.jpg)')
								.Wallop-item(style='background-image:url(img/mu5.jpg)')
								.Wallop-item(style='background-image:url(img/mu6.jpg)')
								.Wallop-item(style='background-image:url(img/mu7.jpg)')
								.Wallop-item(style='background-image:url(img/mu8.jpg)')
								.Wallop-item(style='background-image:url(img/mu9.png)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			section.centered
				.container
					h2 Sponsors
					p.narrow Nossos 17 estagiários do Mobile Dream se tornaram Sponsors oficiais da Movile em suas universidades, em Campinas e São Paulo
					.underline.underline-accent
			section
				.container.images
					div
						img(src='img/sponsors1.png')
					div
						img(src='img/sponsors2.png')
			section.partial-bg-gradient
				.container.content-50-50
					.img-gallery
						div(style='background-image:url(img/presentes1.png)')
						div(style='background-image:url(img/presentes2.png)')
						div(style='background-image:url(img/presentes3.png)')
						div(style='background-image:url(img/presentes4.png)')
						div(style='background-image:url(img/presentes5.png)')
						div(style='background-image:url(img/presentes6.png)')
					.txt-simple
						h2 Presentes
						p Indicações para nossas vagas vale badge no nosso app!
						.underline.underline-white
			section.centered
				.container
					h2 Talk Tech Hackathon
					p.narrow Promovemos ao público o desafio de desenvolver um bot em 12 horas! 20 Movilianos do time de Tecnologia participaram como mentores
					p
						span Alimentação durante todo o evento
					.underline.underline-accent
			section.centered
				.container.images
					div
						img.no-shadow(src='img/talktech.png')
						.comment
							.underline.underline-black
							h3
								span Premiação de R$2.500,00
							p Contratamos um dos vencedores!
			section.full-bg-flat
				.container.content-50-50
					.txt-list
						h2 Mobile Dream 2016 (faltam fotos)
						ul
							li
								p Dreamers deram as caras na promoção da nova edição do programa!
							li
								p Teve webinar com nosso CEO, que falou mais sobre a Movile com candidat@s de todo Brasil!
					.slider
						.Wallop.Wallop--4
							.Wallop-list
								.Wallop-item(style='background-image:url(img/journey1.jpg)')
								.Wallop-item(style='background-image:url(img/journey2.jpg)')
								.Wallop-item(style='background-image:url(img/journey3.jpg)')
							button.Wallop-buttonPrevious
							button.Wallop-buttonNext
			include ../pug-templates/pilarFooter
			+footerLinks('compartilhar','receber')
		include ../pug-templates/pilarJS

